
.uikit-body {
  font-family: 'Open Sans', sans-serif;

  p, ul, ol, dl {
    margin-top: uikit-space(0.3125);
    margin-bottom: uikit-space(0.625);
    max-width: none;
  }
  a {
    &:hover,
    &:focus {
      border-bottom: 1px transparent solid;
    }
  }
}

.uikit-link-list > li {
  margin: uikit-space(0.125) 0;
}
