$mobile: 23.4375em;
$mobile-plus: 25.875em;
$tablet-portrait: 48em;

$uikit-colour-Primary: #1359bd;
$uikit-colour-Link: #d0def2;

@import "uikit";
@import "overrides";
@import "typography";
@import "header";

.uikit-grid {
  .container,
  .container-fluid {
    max-width: 48em;
    padding-left: uikit-space(.75);
    padding-right: uikit-space(.75);
  }
}
